* {
    font-family: "JetBrainsMono Nerd Font", serif;
    font-size: 10px;
}

window#waybar {
    background-color: rgba(18, 18, 20, 1);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
}

#workspaces button {
    padding: 0 4px;
    color: #666666;
}

#workspaces button.persistent.empty {
    color: #272729;
}

#workspaces button.active, #workspaces button.persistent.empty.active {
    color: #ff477f;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 6px;
    color: #ffffff;
}

#window,
#workspaces {
    color: #ff477f;
    font-weight: 700;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 9px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #clock {
    margin-right: 4px;
}

.modules-right * {
    font-size: 12px;
}

.modules-center * {
    font-size: 12px;
}

#clock {
    color: #ff477f;
    font-weight: 900;
}

#cpu {
    color: #666666;
}

#memory {
    color: #666666;
}

#disk {
    color: #666666;
}

#disk#text {
    color: red;
}

#network {
    color: #6fc487;
}

#network.disconnected {
    color: #cc5c67;
}

#pulseaudio {
    color: #666;
}

#pulseaudio.muted {
    color: #f14c4c;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#custom-sep {
	color: #666666;
}
